Cython
pillow==6.2.1
requests
beautifulsoup4
numpy
flask
flask-caching
redis
selenium
tenacity
pandas
openpyxl
tqdm
matplotlib
missingno
datetime
scikit-learn==1.3.2
glob2
Unidecode
lxml
supervisor
bz2file
xlrd
