# Environment Variables shared by all cron jobs
SHELL=/bin/bash

0 0 * * * /etc/cron.d/scripts/daily-at-midnight.sh > /proc/1/fd/1 2>/proc/1/fd/2 # Daily by midnight
0 1 1 * * /etc/cron.d/scripts/impact-metrics.sh > /proc/1/fd/1 2>/proc/1/fd/2 # First day every month
