#run python script every day at 0800
0 0 1,7,14,28 * * python3 /Retraining-module/retraining.py > /proc/1/fd/1 2>/proc/1/fd/2
#0 9 * * * python3 /Retraining-module/retraining.py > /proc/1/fd/1 2>/proc/1/fd/2
